@media only screen and (min-width: 600px){
    .ui-page {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
}

a, p, h1, span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #3B3D3C !important;
    border: 0px;
}

.header > span > a {
    color: #FDFDFD !important;
    outline-color: #444444;
    text-decoration: none;
    text-shadow: #111111 0px 1px 0px;
    font-size: 24px !important;
    font-weight: 400;
}

.list .divider {
    background-color: #09A8A1;
    font-weight: bold;
    font-size: 18px;
    color: white;
    outline-color: #444444;
    text-shadow: none !important;
    outline-color: none !important;
}

.span-h1 {
    font-size: 18px;
    font-weight: normal;
}

.list {
    margin-bottom: 15px !important;
}

.list li a {
    color: #0EA3A1 !important;
    font-weight: 300;
}

.list li a span {
    color: #555;
}

.ui-icon-lang-ru {
    background-image: url("../images/lang_ru.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ui-footer {
    background-color: #09A8A1 !important;
}

.ui-footer h1 {
    color: white;
    outline-color: #444444;
    text-shadow: #111111 0px 1px 0px;
}

.lang-select li a {
    border: 0px;
}

.lang-select li a img {
    height: 25px;
    width: auto;
}

.page-header {
    border: 0px;
    background-color: #ddd !important;
}

.page-header h1, .page-header .span-h1 {
    font-weight: 400;
    font-size: 18px !important;
    margin: 0 0 !important;
}

.social-bar {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.social-bar li {
    display: inline-block;
}

.social-bar li a {
    display: inline-block;
    width: 100%;
}

.social-bar li a img {
    height: 30px;
    width: auto;
}

.counters {
    text-align: center;
}

.counters a {
    margin: 10px;
}

.button {
    background-color: #09A8A1 !important;
    color: white !important;
    outline-color: #444444 !important;
    text-shadow: #111111 0px 1px 0px !important;
}